<footer class="section pb-0">
  <div class="container">
    <div class="row">
            <div class="col-md-3 col-sm-6 mb-10">


                <ul class="list-inline social-icons">

                    <li class="list-inline-item"><a href="https://twitter.com/artemiscloudio"><i class="ti-twitter-alt"></i></a></li><li class="list-inline-item">twitter</li>

                    <li class="list-inline-item"><a href="https://github.com/ArtemisCloud"><i class="ti-github"></i></a></li><li class="list-inline-item">github</li>

                </ul>

            </div>
            <div class="col-md-3 col-sm-6 mb-10">
                <a href="https://www.redhat.com/" target="_blank"><img  width="250px" src="https://artemiscloud.github.io//images/Logo-Red_Hat-Sponsored_By-A-Standard-RGB.png"></a>
            </div>
            <div  class="col-md-6 col-sm-3">
                <div class="copyright">
                    <p>Apache, Apache ActiveMQ Artemis,Artemis and associated open source project names are trademarks of the <a href="https://www.apache.org/">Apache Software Foundation</a>.</p>
                </div>
            </div>
        </div>
  </div>
</footer>
